# Common dependencies
-r requirements-common.txt

# OpenVINO dependencies
torch >= 2.1.2
openvino >= 2024.1.0
optimum-intel[openvino] >= 1.16.1
einops
ai2-olmo # hf_olmo
transformers_stream_generator
bitsandbytes

triton >= 2.2.0  # FIXME(woosuk): This is a hack to avoid import error.